* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.main-content {
    width: 80%;
    max-width: 800px;
    margin-top: 5%;
    background-color: #F2F2F2;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app-title {
    text-align: center;
    font-size: 2.54rem;
    margin-bottom: 20px;
}

.input-form, .clear-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.textArea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}

.submit-button{
    width: 30%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.submit-button:hover, .clear-button:hover {
    background-color: #0056b3;
}

.content-area {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.content-area ul {
    list-style: none;
    padding: 0;
}

.content-area li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
